@import '../../styles/variables';

.phonemodal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.phonemodal_w {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.phonemodal_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.phonemodal_close {
    position: relative;
    margin: 20px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s ease-in;
    height: 52px;
    border: 2px solid black;
    background-color: white;
    outline: none;
    &::before {
        content: '';
        position: absolute;
        display: flex;
        width: 29px;
        height: 3px;
        background-color: black;
        transform: rotate(-45deg);
    }
    &::after {
        content: '';
        position: absolute;
        display: flex;
        width: 29px;
        height: 3px;
        background-color: black;
        transform: rotate(45deg);
    }
    &:hover, &:focus {
        cursor: pointer;
        background-color: black;
        &::after {
            background-color: white;
        }
        &::before {
            background-color: white;
        }
    }
}

.phonemodal_qr {
    margin: 0 40px 40px 0px;
    display: flex;
    align-items: center;
    &__text {
        font-weight: 500;
        font-size: 16px;
        color: white;
        text-align: right;
    }
    img {
        width: 110px;
        height: 110px;
        object-fit: contain;
        margin-left: 10px;
    }
}